*{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: "Lato Bold";
	src: url('fonts/Lato/Lato-Bold.ttf');
}

@font-face{
	font-family: "Lato Black";
	src: url('fonts/Lato/Lato-Black.ttf');
}

@font-face{
	font-family: "Martel DemiBold";
	src: url('fonts/Martel/Martel-DemiBold.ttf');
}

@font-face{
	font-family: "Martel ExtraBold";
	src: url('fonts/Martel/Martel-ExtraBold.ttf');
}

@font-face{
	font-family: "Lato Regular";
	src: url('fonts/Lato/Lato-Regular.ttf');
}

@font-face{
	font-family: "Lato Light";
	src: url('fonts/Lato/Lato-Light.ttf');
}

/* ===== GRID COLUMNS ===== */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/* ===== NAVIGATION ===== */

header {
	height: 100px;
	box-shadow: 0px 4px 4px -4px #aaa;
}

nav {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	width: 200px;
	height: 100px;
	margin-bottom: -22px;
	background-image: url('images/logo.png');
}

#active{
	padding-bottom: 15px;
	border-bottom: thick solid #307984;
}

.head-search{
	margin-top: 57px;
	padding: 5px;
	font: 14px "Lato Bold";
	border: none;
	margin-left: 0px;
	text-align: right;
}

nav li {
	display: inline-block;
	padding: 0 15px;
	color: #307984;
	font-family: "Lato Black", helvetica, sans-serif;
	font-size: 14px;
	background-color: #fff;
}

nav a{
	text-decoration: none;
	color: #307984;
}

nav a:hover {
	color: #00343c;
}

/* ===== BODY CONTENT ===== */
main {
	width: 85%;
	margin: 20px auto 0 auto;
}

aside {
	width: 35%;
  display: inline-block;
  padding: 0 7%;
  vertical-align: top;

}

h1{
	font-family: "Lato Bold";
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 10px;
	padding-top: 24px;
	color:  #307984;
}

.news-image{
	width: 100%;
	height: 240px;
	margin: auto;
	background-image: url('images/duck.png');
	background-size: cover;
}

h2{
	font-family: "Lato Black";
	font-size: 15px;
	font-weight: normal;
	padding-top: 14px;
	padding-bottom: 2px;
	color:#307984;
}

h2.space-before {
	padding-top: 34px;
}

p {
	font-family: "Martel DemiBold";
	padding-top: 10px;
	font-size: 15px;
	color: #00343c;
}

aside a {
  font-family: "Martel DemiBold";
	color: #307984;
	text-decoration: none;
  font-size: 15px;
}

a:hover {
	color: #b5a16a;
}

ul{
	padding-left: 20px;
}

.index-form input {
	font: 15px "Lato Bold";
	color: #307984;
  width: 360px;
	height: 50px;
	background-color: #f0f6f7;
	text-align: left;
	border: solid 1px #9db8bd;
	margin-bottom: 20px;
	padding-left: 20px;
}

button{
	border-radius: none;
	border: 0px;
	width: 380px;
	height: 50px;
	background-color: #307984;
	margin-top: 20px;
	font-family: "Lato bold";
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	-webkit-appearance: none;
  -moz-appearance: none;
	text-indent: 1px;
	cursor: pointer
}

button:hover	{
	background-color: #00343C;
}


/* ===== FOOTER ===== */

footer {
	background-color: #00343c;
	height: 60px;
  margin-top: 5%;
}

footer ul {
	margin-left: 192px;
}

footer li {
	padding-top: 22px;
	margin-right: 20px;
	display: inline-block;
	font: 14px "Lato Regular", helvetica, sans-serif;
	text-transform: capitalize;
}

footer a {
	text-decoration: none;
	color: #fff;
}
