*{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: "Lato Bold";
	src: url('fonts/Lato/Lato-Bold.ttf');
}

@font-face{
	font-family: "Lato Black";
	src: url('fonts/Lato/Lato-Black.ttf');
}

@font-face{
	font-family: "Martel DemiBold";
	src: url('fonts/Martel/Martel-DemiBold.ttf');
}

@font-face{
	font-family: "Martel ExtraBold";
	src: url('fonts/Martel/Martel-ExtraBold.ttf');
}

@font-face{
	font-family: "Lato Regular";
	src: url('fonts/Lato/Lato-Regular.ttf');
}

@font-face{
	font-family: "Lato Light";
	src: url('fonts/Lato/Lato-Light.ttf');
}

/* ===== NAVIGATION ===== */

header {
	height: 100px;
	box-shadow: 0px 4px 4px -4px #aaa;
}

nav {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	width: 200px;
	height: 100px;
	margin-bottom: -22px;
	background-image: url('images/logo.png');
}

#active{
	padding-bottom: 15px;
	border-bottom: thick solid #307984;
}

.head-search{
	margin-top: 57px;
	padding: 5px;
	font: 14px "Lato Bold";
	border: none;
	margin-left: 0px;
	text-align: right;
}

nav li {
	text-decoration: none;
	display: inline-block;
	padding: 0 15px;
	color: #307984;
	font-family: "Lato Black", helvetica, sans-serif;
	font-size: 14px;
	background-color: #fff;
}

nav a{
	text-decoration: none;
	color: #307984;
}

nav a:hover {
	color: #00343c;
}

/* ===== REPORT SIGHTING FORM ===== */

main {
	width: 75%;
	margin: 20px auto 0 auto;
}

aside {
	width: 50%;
	height: 700px;
	float: left;
}

h1 {
	font: 20px "Lato Bold";
	padding: 15px 0;
	color:  #307984;
}

.sighting-form input {
	font: 15px "Lato Bold";
	color: #307984;
	display: block;
	height: 50px;
	background-color: #f0f6f7;
	text-align: left;
	border: solid 1px #9db8bd;
	margin-bottom: 20px;
	padding-left: 20px;
}

.long {
		width: 380px;
}

.short {
	width: 225px;
	display: inline-block;
	margin-right: -10px;
}

/*.date {
	width: 180px;
}*/

select {
	width: 190px;
	height: 50px;
	background-color: #f0f6f7;
	text-align: left;
	border: solid 1px #9db8bd;
	margin-bottom: 20px;
	padding-left: 20px;
	font: 15px "Lato Bold";
	font-weight: normal;
	color: #307984;
	-webkit-appearance: none;
  -webkit-border-radius: 0px;
	-webkit-input-placeholder: red;
}

.conditions {
	font: 15px "Lato Bold";
	color: #307984;
	height: 50px;
	background-color: #f0f6f7;
	text-align: left;
	border: solid 1px #9db8bd;
	margin-bottom: 20px;
	margin-right: 28px;
	padding-left: 20px;
	display: inline-block;
}

.button{
	border-radius: none;
	border: 0px;
	width: 380px;
	height: 50px;
	background-color: #307984;
	margin-top: 20px;
	font: 16px "Lato bold";
	text-transform: uppercase;
	color: #fff;
	text-indent: 1px;
	display: block;
	cursor: pointer
	-webkit-appearance: none;
     -moz-appearance: none;
}

.button:hover	{
	background-color: #00343C;
}

textarea {
	width: 380px;
	height: 100px;
	background-color: #f0f6f7;
	text-align: left;
	border: solid 1px #9db8bd;
	margin: 20px 0;
	padding-left: 20px;
	font-family: 15px "Lato Bold";
	color: #307984;
}

.checkbox {
	display: inline-block;
}

#guidelines-and-resources {
	margin-top: 800px;
	margin-left: 675px;
}

#guidelines-and-resources a {
	padding: 0 10px;
	color: #307984;

}

/* ===== FOOTER ===== */

footer {
	background-color: #00343c;
	height: 60px;
	bottom: 0;
}

footer ul {
	margin-left: 192px;
}

footer li {
	padding-top: 22px;
	margin-right: 20px;
	display: inline-block;
	font: 14px "Lato Regular", helvetica, sans-serif;
	text-transform: capitalize;
}

footer a {
	text-decoration: none;
	color: #fff;
}
